.item {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 10px;
  margin-left: 0;
  width: 400px;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(114, 66, 4);
  border: 1px solid gray;
}
